{% extends "generic/base.html" %}
{% load static %}
{% block main %}
    <div class="container" style="height: 540px; display: flex; align-items: center; justify-content: center">
            <div class="content-wrap">
            <div class="text-center mb-4">
                <div class="slogan mb-1 mt-5">Do you really want to delete your account?</div>
                <p class="main-text text-muted">All countdowns associated with your account will be discarded.</p>
            </div>
            <form method="post" class="text-center">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Yes, delete my account">
                <a class="btn btn-secondary" href="{% url "countdown:dashboard" %}">No, take me back</a>
            </form>
        </div>
    </div>

{% endblock %}