{% extends "generic/base.html" %}
{% block head %}
    <title>Email confirmation</title>
{% endblock %}
{% block main %}
    <div class="container" style="height: 540px; display: flex; align-items: center; justify-content: center">
    {% if confirmed %}
        <div class="text-center">
            <div class="slogan mb-3 mt-5">Congratulations, your account is ready!</div>
            <a class="btn btn-primary" href="{% url "custom_user:login" %}">Start!</a>
        </div>
    {% else %}
        <div class="slogan mb-3 mt-5">Ooops, this link is not valid anymore.</div>
    {% endif %}
    </div>
{% endblock %}