{% extends "generic/base.html" %}
{% load static %}
{% block head %}
    <title>Sign up</title>
    <link rel="stylesheet" href="{% static "custom_user/form_styles.css" %}">
{% endblock %}
{% block main %}
    <div class="form-wrapper">
        <div class="border col-xl-3 pt-3">
        <div class="container py-3">
            <p class="text-center name">Create account</p>
            <form method="post" class="px-5">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-4">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <div class="mb-3 mt-3 text-center"><input type="submit" class="btn btn-primary" value="Sign up"></div>
            </form>
        </div>
        </div>
    </div>
{% endblock %}
