{% extends "generic/base.html" %}
{% block main %}
    <div class="container text-center">
        <div class="col-6 mx-auto">
            <div class="slogan mb-3">Take the future with you.</div>
            <p class="main-text text-muted">Hi, this is a simple app that allows you to create countdowns to watch how your favorite events are coming. Just create countdown and share it with friends.</p>
            <p class="buttons">
                <a href="{% url "countdown:create" %}" class="btn btn-primary">Create countdown</a>
                <a href="{% url "custom_user:signup" %}" class="btn btn-secondary">Register account</a>
            </p>
        </div>

    </div>
{% endblock %}