{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "fonts/fonts.css" %}">
    <link rel="stylesheet" href="{% static "generic/base.css" %}">
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% block head %}
    {% endblock %}
    <title>Title</title>
</head>
<body>
    <div class="d-flex justify-content-between flex-column" style="height: 100vh">
    <nav class="navbar navbar-dark bg-dark navbar-expand">
        <div class="container">
            <a class="navbar-brand" href="{% url "home" %}"><i class="fa fa-clock-o"></i> <span>Countdown App</span></a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url "countdown:create" %}">Create countdown</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url "countdown:dashboard" %}">Dashboard</a></li>
                <li class="nav-item"><a href="{% url "custom_user:login"%}" class="nav-link text-white"><i class="fa fa-user-circle-o fa-lg"></i></a></li>
            </ul>
            {# TODO: make link to user management page when ready #}
        </div>
    </nav>
        {% block main %}
        {% endblock %}
    <footer class="mt-4">
        <p class="text-muted text-center align-bottom">©2020 All rights reserved.</p>
    </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>