{% extends "generic/base.html" %}
{% block main %}
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="d-flex justify-content-around col-9  align-items-center">
                <div class="d-flex justify-content-center flex-column">
                    <div class="timer d-flex slogan border round text-center">
                        <div class="days p-3">
                            <p class="amount border round" id="days">7</p>
                            <p class="help-text">Days</p>
                        </div>
                        <div class="days p-3">
                            <p class="amount border round" id="hours">23</p>
                            <p class="help-text">Hours</p>
                        </div>
                        <div class="days p-3">
                            <p class="amount border round" id="minutes">35</p>
                            <p class="help-text">Minutes</p>
                        </div>
                        <div class="days p-3">
                            <p class="amount border round" id="seconds">49</p>
                            <p class="help-text">Seconds</p>
                        </div>
                    </div>
                    <div class="container d-flex justify-content-around mt-3">
                        <a href="{# TODO: add some js to copy url to clipboard #}" class="no-decoration"><i class="fa fa-clipboard fa-lg" aria-hidden="true"></i></a>
                        {% if request.user == countdown.user %}
                            <a href="{% url "countdown:edit" pk=countdown.pk %}" class="no-decoration"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                            <a href="{% url "countdown:delete" pk=countdown.pk %}" class="no-decoration"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                        {% endif %}
                    </div>
                </div>
                <div class="pl-3">
                    <p class="slogan pb-4">{{ countdown.name }}</p>
                    <p class="main-text text-muted desc" style="text-align: justify">{{ countdown.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        var countDownTimeSeconds = {{ finish_time_delta }};
        updateCountdown()
        setInterval(updateCountdown, 1000)


        function updateCountdown() {

            var days = Math.floor(countDownTimeSeconds / (60 * 60 * 24));
            var hours = Math.floor((countDownTimeSeconds / (60 * 60)) % 24);
            var minutes = Math.floor(countDownTimeSeconds / 60 % 60);
            var seconds = Math.floor((countDownTimeSeconds % 60));

            var hoursStr = (hours > 9) ? hours.toString() : "0" + hours.toString();
            var minutesStr = (minutes > 9) ? minutes.toString() : "0" + minutes.toString();
            var secondsStr = (seconds > 9) ? seconds.toString() : "0" + seconds.toString();

            document.getElementById("days").innerText = days.toString();
            document.getElementById("hours").innerText = hoursStr;
            document.getElementById("minutes").innerText = minutesStr;
            document.getElementById("seconds").innerText = secondsStr;

            if(countDownTimeSeconds > 0)
            {
                countDownTimeSeconds--;
            }
        }
    </script>
{% endblock %}