{% extends "generic/base.html" %}
{% block head %}
    <title>Delete Countdown</title>
{% endblock %}
{% load static %}
{% block main %}
    <div class="container">
        <div class="content-wrap">
            <div class="text-center mb-4">
                <div class="slogan mb-1 mt-5">Do you really want to delete this countdown?</div>
            </div>
            <form method="post" class="text-center">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Yes">
                <a class="btn btn-secondary" href="{% url "countdown:dashboard" %}">No, take me back</a>
            </form>
        </div>
    </div>
{% endblock %}