{% extends "generic/base.html" %}
{% block main %}
    <div class="container">
        <div class="row text-center justify-content-center" id="wrapper">
            <div class="d-flex justify-content-around col-9  align-items-center">
                <div class="d-flex justify-content-center flex-column">
                    <div class="timer d-flex slogan border round text-center">
                        <div class="days p-3">
                            <p class="amount border round" id="days">7</p>
                            <p class="help-text">Days</p>
                        </div>
                        <div class="days p-3">
                            <p class="amount border round" id="hours">23</p>
                            <p class="help-text">Hours</p>
                        </div>
                        <div class="days p-3">
                            <p class="amount border round" id="minutes">35</p>
                            <p class="help-text">Minutes</p>
                        </div>
                        <div class="days p-3">
                            <p class="amount border round" id="seconds">49</p>
                            <p class="help-text">Seconds</p>
                        </div>
                    </div>
                    <div class="container d-flex justify-content-around mt-3">
                        <a href="#" class="no-decoration"><i class="fa fa-clipboard fa-lg" aria-hidden="true"></i></a>
                        {% if request.user == countdown.user %}
                            <a href="{% url "countdown:edit" pk=countdown.pk %}" class="no-decoration"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                            <a href="{% url "countdown:delete" pk=countdown.pk %}" class="no-decoration"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                        {% endif %}
                    </div>
                </div>
                <div class="pl-3">
                    <p class="slogan pb-4">{{ countdown.name }}</p>
                    {% if countdown.description|length > 50 %}
                        <p class="main-text text-muted desc" style="text-align: justify">{{ countdown.description }}</p>
                    {% else %}
                        <p class="main-text text-muted desc">{{ countdown.description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <script>
        var countDownTimeSeconds = {{ finish_time_delta }};

        updateCountdown()
        const intervalID = setInterval(updateCountdown, 1000)


        function updateCountdown() {

            var days = Math.floor(countDownTimeSeconds / (60 * 60 * 24));
            var hours = Math.floor((countDownTimeSeconds / (60 * 60)) % 24);
            var minutes = Math.floor(countDownTimeSeconds / 60 % 60);
            var seconds = Math.floor((countDownTimeSeconds % 60));

            var hoursStr = (hours > 9) ? hours.toString() : "0" + hours.toString();
            var minutesStr = (minutes > 9) ? minutes.toString() : "0" + minutes.toString();
            var secondsStr = (seconds > 9) ? seconds.toString() : "0" + seconds.toString();

            if(days > 999)
            {
                document.getElementById("days").setAttribute("style", "width: 100px;")
            }
            document.getElementById("days").innerText = days.toString();
            document.getElementById("hours").innerText = hoursStr;
            document.getElementById("minutes").innerText = minutesStr;
            document.getElementById("seconds").innerText = secondsStr;

            if(countDownTimeSeconds > 0)
            {
                countDownTimeSeconds--;
            }
            else {
                confetti({
                        particleCount: 100,
                        startVelocity: 30,
                        spread: 360,
                        origin: {
                            x: Math.random(),
                            y: Math.random() - 0.2
                        }
                        });
                confetti({
                        particleCount: 100,
                        startVelocity: 30,
                        spread: 360,
                        origin: {
                            x: Math.random(),
                            y: Math.random() - 0.2
                        }
                        });
                confetti({
                        particleCount: 100,
                        startVelocity: 30,
                        spread: 360,
                        origin: {
                            x: Math.random(),
                            y: Math.random() - 0.2
                        }
                        });

                const url="{% url "countdown:finished" pk=countdown.pk %}";
                const Http = new XMLHttpRequest();

                Http.open("GET", url);
                Http.send();

                Http.onreadystatechange = (e) => {
                    if(Http.readyState === 4 && Http.status === 200)
                    {
                        clearInterval(intervalID);

                        const finished_text = document.createElement("div");
                        finished_text.className = "col-7 main-text mt-5";
                        finished_text.innerHTML = "<p>" + Http.responseText + "</p>";

                        document.getElementById("wrapper").appendChild(finished_text);
                    }
                }
            }
        }
    </script>
{% endblock %}